@model ExerciseServiceModel

<div class="card" sstyle="tylebackground-color:transparent;">
    <h2>@Model.Name</h2>

    <div class="card-inner">
        <div class="card-front">
            <img src="@Model.ImageUrl" style="width:360px; max-height:260px; margin-top: 30px;">
        </div>

        <!-- Decorate card back side -->
        <div class="card-back" style="width: 360px;" ;>
            <div>You can do it!</div>
            <a asp-controller="Exercise" asp-action="Details" asp-route-id="@Model.Id"
               class="btn btn-success" style="background-color:cornflowerblue; border-color:cornflowerblue;margin-left:10px ">More Details</a>
            @if (this.User.Identity.IsAuthenticated)
            {
                <div id="fav">
                    <form class="pa-inline-buttons"
                      style=" margin-left: 10px;
                              margin-top: 20px;"
                      asp-controller="Exercise"
                      asp-action="RemoveFromFavourites" asp-route-id="@Model.Id">
                        <input class="btn btn-primary" type="submit" value="Remove From Favourites" />
                    </form>
                </div>
            }
            @if (this.User.IsInRole(EditorRolleName))
            {
                <div id="ed">
                    <a asp-area="Editor" asp-controller="Exercise" asp-action="Edit" asp-route-id="@Model.Id"
                   class="btn btn-danger" style="margin-top: 20px;margin-left:10px">Edit</a>
                </div>
                <div id="del">
                    <a asp-area="Editor" asp-controller="Exercise" asp-action="Delete" asp-route-id="@Model.Id"
                   class="btn btn-danger" style="margin-top: 20px;margin-left:10px">Delete</a>
                </div>
            }
        </div>
    </div>
</div>


<style>
    .card {
        width: 400px;
        height: 350px;
        perspective: 1000px;
        margin-right: 20px;
        margin-bottom: 50px;
        transition: 0.3s;
    }


    .card-inner {
        position: relative;
        text-align: center;
        transition: transform 0.6s;
        transform-style: preserve-3d;
    }

    .card:hover {
        box-shadow: 0px 10px 15px grey;
    }

        .card:hover .card-inner {
            transform: rotateY(180deg);
        }

    .card-front, .card-back {
        position: absolute;
        backface-visibility: hidden;
    }

    .card-back {
        transform: rotateY(180deg);
    }
</style>