@model ArticleServiceModel


<div class="main-article-container">
    <div class="title-container">
        <h1 id="title">@Model.Title</h1>
    </div>
    <div class="article-container" style="display:flex; flex-wrap: wrap;">
        <div>
            <img id="image" src="@Model.ImageUrl" alt="image">
        </div>
        <div class="text-container">
            <p id="article-text">
                @Model.ArticleText
            </p>
        </div>
        @if (this.User?.Identity != null && this.User.Identity.IsAuthenticated && this.User.IsInRole("Writer"))
        {
            <div id="del">
                <a asp-area="Writer" asp-controller="Article" asp-action="Delete" asp-route-id="@Model.Id"
               class="btn btn-danger" style="margin-top: 20px;margin-left:10px">Delete Article</a>
            </div>
            <div id="ed">
                <a asp-area="Writer" asp-controller="Article" asp-action="Edit" asp-route-id="@Model.Id"
               class="btn btn-danger" style="margin-top: 20px;margin-left:10px">Edit Article</a>
            </div>
        }
    </div>
</div>

<style>
    .main-article-container {
        width: 1400px;
        margin-left: 30px;
        margin-right: 60px;
        border-radius: 10px;
        padding-bottom: 10px;
        margin-bottom: 20px;
        background-color: rgb(171, 218, 235);
        transition: 0.3s;
    }

        .main-article-container:hover {
            box-shadow: 0px 0px 20px #eee0e0;
        }

    .title-container {
        text-align: center;
        object-position: center;
    }

    #title {
        margin-top: 10px;
        padding-top: 10px;
    }

    .main-article-container {
        object-position: center;
    }

    #image {
        width: 600px;
        margin-left: 25px;
        border-radius: 10px;
        transition: 0.3s;
    }

        #image:hover {
            box-shadow: 0px 0px 15px #e8bb52;
        }

    .text-container {
        text-align: center;
        padding-right: 90px;
    }

    #article-text {
        max-width: 600px;
        font-size: 24px;
        margin-left: 40px;
        padding-right: 30px;
    }
</style>